<style>
    body { background: linear-gradient(to bottom, #15A6F7, #2A7AED); }
    footer { background-color: transparent!important; }
</style>
<section>
    <div class="flex flex-col p-10 md:px-20 pt-40 gap-6 items-center">
        <h1 class="text-2xl md:text-3xl text-center font-bold text-white">
            Rencanakan Liburan Anda bersama Keluarga atau<br class="hidden md:block"> Sahabat di Villa-Villa Omahe Mande.
        </h1>
        <p class="text-white text-center">
            Bila ada pertanyaan, silahkan menghubungi nomor atau email berikut
        </p>
        <ul class="text-white text-xl font-bold text-center grid gap-2">
            <li>
                <a href="https://wa.me/62811161981">Eka: 0811 161 981</a>
            </li>
            <li>
                <a href="https://wa.me/62811154976">Yuli: 0811 154 976</a>
            </li>
            <li>
                <a href="mailto:info@omahe.id">info@omahe.id</a>
            </li>
        </ul>
        <a href="https://airbnb.com/users/show/85206086" class="block text-white bg-primary-900 px-4 py-2 rounded-full hover:opacity-45 duration-200">
            Book Now
        </a>
    </div>
</section>