<header>
    <div id="jumbotron" class="h-screen bg-center bg-cover flex flex-col justify-end duration-700" style="background-image: url('assets/landing/jumbotron__boemi-ageung.jpg');">
        <ul class="grid gap-2 justify-center p-10 md:p-20 pt-40 bg-gradient-to-t from-black text-white">
            <li>
                <h1 class="uppercase text-center font-bold text-2xl md:text-4xl">{{title}}</h1>
            </li>
            <li>
                <p class="uppercase text-center font-bold">{{subtitle}}</p>
            </li>
        </ul>
    </div>
</header>